* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
    font-family: Helvetica, sans-serif;
    list-style: none;
}

html, body {
    height: 100%;
}

body * {
    display: block;
}